# =============================================================================
# LINUX HARDENING ENVIRONMENT FILE
# Ubuntu Server 24.04 LTS
# -----------------------------------------------------------------------------
# Developer.......: Andre Essing (https://github.com/aessing)
#                                (https://www.linkedin.com/in/aessing/)
# Inspired by.....: https://downloads.cisecurity.org/
#                   https://github.com/konstruktoid/hardening
#                   https://github.com/Neo23x0/auditd
# -----------------------------------------------------------------------------
# THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
# EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
# =============================================================================

#
# Host Configuration
HOST_NAME='sample'                                                                    # Hostname of the server        
HOST_CHASSIS='server'                                                                 # desktop, laptop, convertible, server, tablet, handset, watch, embedded, vm, container
HOST_DEPLOYMENT='production'                                                          # development, integration, staging, production
HOST_LOCATION='Datacenter'                                                            # Datacenter, Serverroom, Germany, Munich, etc.

#
# User Configuration
#
ADMIN_EMAIL='administrator@example.com'                                               # Email address of the administrator          
ADMIN_IPS='192.168.0.0/24 192.168.1.0/24'                                             # Space separated list of IPs/CIDR that are allowed connect to sshd
ADMIN_PUBLICKEY='ssh-rsa ###SAMPLE_PUBLIC_KEY###'                                     # Public key of the administrator
ADMIN_USER='###ADMIN_USER###'                                                         # Username of the administrator created during installation

#
# Time Configuration
#
NTP_SERVER='0.de.pool.ntp.org 1.de.pool.ntp.org 2.de.pool.ntp.org 3.de.pool.ntp.org'  # Space separated list of NTP servers
NTP_FALLBACKSERVER='141.76.10.160 130.149.7.7 134.28.202.2 194.25.134.196'            # List of NTP servers to use if the NTP_SERVER is not reachable (space separated list // Telekom, TU Berlin, TUHH Hamburg-Harburg)
TIMEZONE='Europe/Berlin'                                                              # Timezone the server is located in (timedatectl list-timezones)

#
# SSHD Configuration
#
SSH_GROUP='sshd_users'                                                                # Group for SSH users. Users in this group are allowed to connect via SSH.
SSH_PORT='22'                                                                         # SSH port. Default is 22. Change to a different port if needed.

#
# Login Text Configuration
#
ISSUE_SHORT='Authorized uses only. All activity may be monitored and reported.'
ISSUE_TEXT='
###############################################################################
# UNAUTHORIZED ACCESS TO THIS OR ANY RELATED COMPUTING SYSTEM IS A CRIMINAL   #
# VIOLATION OF APPLICABLE FEDERAL LAW. ANY UNAUTHORIZED ACCESS IS SUBJECT     #
# TO PROSECUTION. Whoever knowingly or intentionally accesses a computing     #
# system without authorization or exceeding authorized access, and by means   #
# of such conduct, obtains, alters, damages, destroys, or discloses           #
# information, or prevents authorized use of any data or computing resource   #
# shall be subject to disciplinary action, prosecution or both. Use in a      #
# manner other than as intended by the owner may result in the forfeiture of  #
# access privileges. All computing system activities may be recorded and      #
# monitored. Individuals using these systems expressly consent to such        #
# monitoring and shall have no expectation of privacy in their use. Evidence  #
# of possible misconduct or abuse may be provided to appropriate officials    #
# and/or law enforcement. No warranty is made for the computing resources     #
# that are subject to this policy. Additionally, the owner of the system      #
# takes no responsibility of damages for the intentional misuse of these      #
# resources by any party.                                                     #
###############################################################################
'
MOTD_TEXT='
By accessing this system, you consent to the following conditions:
 - This system is restricted to authorized users only
 - Unauthorized use of the information system is prohibited and subject
   to criminal and civil penalties
 - Any or all uses of this system and all files on this system may be
   monitored, recorded, and subject to audit
 - Communications using, or data stored on, this system are not private
'

#
# Enhanced Security Services Configuration
#
AIDE_ENABLE='false'                                                           # Enable AIDE. AIDE is a host-based intrusion detection system.
AUDIT_ENABLE='false'                                                          # Enable audit. Auditd is a userspace component to the Linux Auditing System.
PSAD_ENABLE='false'                                                           # Enable psad. PSAD is a collection of three lightweight system daemons that run on Linux machines and analyze iptables log messages to detect port scans and other suspicious traffic.

# =============================================================================
# EOF