# =============================================================================
# K3S ENVIRONMENT FILE
# -----------------------------------------------------------------------------
# Developer.......: Andre Essing (https://github.com/aessing)
#                                (https://www.linkedin.com/in/aessing/)
# Inspired by.....: https://downloads.cisecurity.org/
#                   https://docs.k3s.io
# -----------------------------------------------------------------------------
# THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
# EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
# =============================================================================

ADMIN_IPS="192.168.0.0/24 192.168.1.0/24"                                             # Space separated list of IPs/CIDR that are allowed connect to K3S
K3S_CHANNEL="stable"                                                                  # Channel for the K3s release (https://update.k3s.io/v1-release/channels)
K3S_CLUSTER_TOKEN="###SAMPLE_TOKEN_TO_JOIN_SERVERS###"                                # Shared secret used to join a server or agent to a cluster 
K3S_AGENT_TOKEN="###SAMPLE_TOKEN_TO_JOIN_AGENTS###"                                   # Shared secret used to join agents to the cluster, but not servers
K3S_NODES_FIRST="192.168.0.101"                                                       # IP Adress of the first K3s Server Node (Control Plane)
K3S_NODES_SERVERS="$K3S_NODES_FIRST 192.168.0.102 192.168.0.103"                      # Space separated list of IPs from the K3s Server Nodes, include first server IP (Control Plane)
K3S_NODES_AGENTS="192.168.0.111 192.168.0.112 192.168.0.113"                          # Space separated list of IPs from the K3s Agents Nodes (Nodes)
K3S_TLSSAN_VIP="192.168.0.100"                                                        # IP that will be added to the K3s Server Node Certificate SANs
K3S_CLUSTER_DOMAIN="clustername.example.tld"                                          # Domain for the K3s Cluster
K3S_NETWORK_CLUSTER="192.168.128.0/18"                                                # CIDR for the K3s Cluster Network (Pods) (18 = 16384 IPs)
K3S_NETWORK_SERVICES="192.168.192.0/18"                                               # CIDR for the K3s Services Network (Services) (18 = 16384 IPs)
K3S_NODE_CIDR_SIZE_IPV4="22"                                                          # Size of the CIDR that will be allocated to each node (default: 24) (22 = 1024 IPs // equals max 16 Nodes)
K3S_FLANNEL_BACKEND="vxlan"                                                           # Flannel backend to use (none, vxlan (default), host-gw, wireguard-native)        
K3S_MAX_PODS="250"                                                                    # Maximum number of pods per node (default: 110)
K3S_KUBECONFIG_MODE="600"                                                             # Write kubeconfig with this mode. The kubeconfig file is owned by root, and written with a default mode of 600. Changing the mode to 644 will allow it to be read by other unprivileged users on the host.
K3S_SERVICE_DISABLE="servicelb traefik local-storage"                                 # Space separated list of K3s services to disable (coredns, servicelb, traefik, local-storage, metrics-server) (predefined list works well with rest of installation)
K3S_EMBEDDED_REGISTRY="true"                                                          # Enable the embedded registry (SPENGEL) (true for multi-node clusters, false for single-node clusters)
PSAD_INSTALLED='false'                                                                # Is PSAD installed? If not, set to false.

# =============================================================================
# EOF